.DialogStart-Container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: auto;
    opacity: 1;
}

.CloseDialogStart-Container {
    pointer-events: none;
    opacity: 0;
}

.DialogStart-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80%;
    max-width: 400px;
    max-height: 900px;
    background: linear-gradient(45deg, #0093E9, #80D0C7);
    border-radius: 20px 5px 20px 5px;
    box-shadow: 0 0 200px var(--Shadow1);
}

.StartDialog-Flex-Item1 {
    width: 90%;
    height: 17vh;
}

.StartDialog-Flex-Item1-Text1 {
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vh;
}

span {
    font-size: 3vh;
    text-decoration: underline;
}

.StartDialog-Flex-Item2 {
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-size: 6vh;
}

.InputPlayername {
    width: 70%;
    height: 4vh;
    border-radius: 20px 0 20px 0;
    text-align: center;
    margin-bottom: 5vw;
}

.ChooseIconAndColor {
    width: 20vw;
    height: 4vh;
    font-weight: bold;
    font-size: 2vh;
    background-color: var(--Bg4);
    box-shadow: 0 0 10px var(--Shadow3);
}

.Border-Right {
    border-radius: 10% 50% 50% 10%;
    text-align: start;
    margin-left: 2vw;
    padding-left: 5%;
    border: solid;
    border-width: 0 3px 0 0;
    max-width: 100px;
}

.Border-Left {
    border-radius: 50% 10% 10% 50%;
    text-align: end;
    margin-right: 2vw;
    padding-right: 5%;
    border: solid;
    border-width: 0 0 0 3px;
    max-width: 100px;
}

.LabelX {
    font-size: 9vh;
    color: red;
}

.LabelO {
    font-size: 9vh;
    color: blue;
}


.StartDialog-Flex-Item3 {
    width: 60%;
    height: 10vh;
    max-width: 80%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 10px 50% 50% 10px;
    border-width: 0 20px 0 0;
    border-color: rgb(0, 255, 13);
    font-size: 3vh;
    font-weight: bold;
    margin: 8vh 0 1vh 0;
    background-color: var(--Bg1);
    box-shadow: 0 0 30px var(--Shadow3);
    color: var(--Text1); 
}

.StartDialog-Flex-Item3-Animation {
 animation: letplay 2s;  
 rotate: -9deg; 
}

@keyframes letplay {
    0% {
        position: relative;
        rotate: 360deg;
    }
    80% {
        margin-left: 0vw;
        height: 12vh;
        max-width: 400px;
        border-color: black;
        border-width: 8px 25px 8px 8px;
        background-color: rgb(0, 255, 13);
    }
    100% {
       margin-left: 200vw;
    }
}

.LinkForBackStart {
    width: 40vw;
    max-width: 300px;
    height: 5vh;
    font-size: 3vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px 0 20px 0;
    background-color: var(--Bg3);
    color: var(--Text1);
}

.LinkForBackStartOut {
    pointer-events: none;
}