.DialogStart-Container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: auto;
    opacity: 1;
}

.CloseDialogStart-Container {
    pointer-events: none;
    opacity: 0;
}

.DialogStart-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 70%;
    max-width: 400px;
    max-height: 900px;
    background: linear-gradient(45deg, #0093E9, #80D0C7);
    border-radius: 20px 5px 20px 5px;
    box-shadow: 0 0 200px var(--Shadow1);
}

.BtnChangeText {
    font-size: 1.5vh;
    text-align: center;
    margin-bottom: 1.5vh;
}

.ChangeBtnIconStart {
    width: 30vw;
    max-width: 100px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
    border-radius: 20px 5px 20px 5px;
    background-color: var(--Bg1);
    color: var(--Text1);
    box-shadow: 0 0 20px black;
}

.ChangeBtnIconStart-looseItem {
    animation: looseIcon 1s;
}

.ChangeBtnIconStart-getItem {
    animation: getIcon 1s;
}

@keyframes looseIcon {

    0% {
        font-size: 5vh;
    }

    100% {
        font-size: 0vh;
        background-color: rgb(43, 255, 0);
        border: 3px solid rgb(43, 255, 0);
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

}

@keyframes getIcon {

    0% {
        font-size: 0vh;
        background-color: rgb(43, 255, 0);
        border: 3px solid rgb(43, 255, 0);
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    100% {
        font-size: 5vh;
    }

}

.ChangeBtnIconStart-looseItem2 {
    animation: looseIcon2 1s;
}

.ChangeBtnIconStart-getItem2 {
    animation: getIcon2 1s;
}

@keyframes looseIcon2 {

    0% {
        font-size: 9vh;
    }

    100% {
        font-size: 0vh;
        background-color: rgb(43, 255, 0);
        border-radius: 50%;
        border: 3px solid rgb(43, 255, 0);
    }

}

@keyframes getIcon2 {

    0% {
        font-size: 0vh;
        background-color: rgb(43, 255, 0);
        border-radius: 50%;
        border: 3px solid rgb(43, 255, 0);
    }

    100% {
        font-size: 11vh;
    }

}

.StartDialog-Flex-Item1 {
    width: 90%;
    height: 10vh;
    margin-top: 3%;
    margin-bottom: 4vh;

}

.StartDialog-Flex-Item1-Text1 {
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vh;
}

span {
    font-size: 3vh;
    text-decoration: underline;
}

.StartDialog-Flex-Item2 {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 6vh;
}

.InputDIV {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.InputPlayername {
    width: 60%;
    height: 4vh;
    border-radius: 20px 0 20px 0;
    text-align: center;
    margin-bottom: 3vw;
}

.ChangeStringDIV {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChooseIconAndColor {
    width: 25vw;
    height: 4vh;
    font-weight: bold;
    font-size: 2vh;
    background-color: var(--Bg4);
    box-shadow: 0 0 10px var(--Shadow3);
}

.Border-Right {
    border-radius: 10% 50% 50% 10%;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
    border: solid;
    border-width: 0 3px 0 0;
    max-width: 100px;
}

.Border-Left {
    border-radius: 50% 10% 10% 50%;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
margin-left: 3vw;
    border: solid;
    border-width: 0 0 0 3px;
    max-width: 100px;
}

.LabelX {
    font-size: 11vh;
    color: red;
}

.LabelO {
    font-size: 9vh;
    color: blue;
}


.StartDialog-Flex-Item3 {
    width: 60%;
    height: 10vh;
    max-width: 80%;
    margin-bottom: 5vh;
    border-radius: 10px 50% 50% 10px;
    border-width: 0 20px 0 0;
    border-color: rgb(0, 255, 13);
    font-size: 3vh;
    font-weight: bold;
    margin: 10vh 0 1vh 0;
    background-color: var(--Bg1);
    box-shadow: 0 0 30px var(--Shadow3);
    color: var(--Text1);
}

.StartDialog-Flex-Item3-Animation {
    animation: letplay 2s;
    rotate: -9deg;
}

@keyframes letplay {
    0% {
        position: relative;
        rotate: 360deg;
    }

    80% {
        margin-left: 0vw;
        height: 12vh;
        max-width: 400px;
        border-color: black;
        border-width: 8px 25px 8px 8px;
        background-color: rgb(0, 255, 13);
    }

    100% {
        margin-left: 200vw;
    }
}

.LinkForBackStart {
    width: 40vw;
    max-width: 250px;
    height: 5vh;
    font-size: 3vh;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 20px 0 20px 0;
    background-color: var(--Bg3);
    color: var(--Text1);
}

.LinkForBackStartOut {
    pointer-events: none;
}