.Game-Container {
    aspect-ratio: 1 / 1;
    width: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 50px;
    border-radius: 20px;
    border: solid var(--Border1);
    border-width: 10px 0 10px 0;
    background-color: var(--Bg1);
}

.Game-Container-Win {
    border-color: rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
    border-width: 10px 10px 10px 10px;
    box-shadow: 0 0 200px rgb(0, 255, 0);
}

.Game-Container-aDraw {
    border-color: rgb(196, 0, 0);
    border-width: 10px 10px 10px 10px;
    box-shadow: 0 0 200px rgb(196, 0, 0);
}

.Game-Item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Bg1);
    color: var(--Text1);
    width: 33.4%;
    height: 33%;
    font-size: 9vh;
    font-weight: bold;
}

.Game-Item-Win {
    background-color: rgb(0, 255, 0);
}

.Game-Item-Icon {
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 50px var(--Shadow3);
}

.Game-Item-Btn-1 {
    border-radius: 5px 0 0 0;
    border: solid var(--Border4);
    border-width: 0 3px 3px 0;
}

.Game-Item-Btn-2 {
    border: solid var(--Border4);
    border-width: 3px 3px 3px 0;
}

.Game-Item-Btn-3 {
    border-radius: 0 0 0 5px;
    border: solid var(--Border4);
    border-width: 3px 3px 0 0;
}

.Game-Item-Btn-4 {
    border: solid var(--Border4);
    border-width: 0 3px 3px 3px;
}

.Game-Item-Btn-5 {
    border: solid var(--Border4);
    border-width: 3px 3px 3px 3px;
}

.Game-Item-Btn-6 {
    border: solid var(--Border4);
    border-width: 3px 3px 0 3px;
}

.Game-Item-Btn-7 {
    border-radius: 0 5px 0 0;
    border: solid var(--Border4);
    border-width: 0 0 3px 3px;
}

.Game-Item-Btn-8 {
    border: solid var(--Border4);
    border-width: 3px 0 3px 3px;
}

.Game-Item-Btn-9 {
    border-radius: 0 0 5px 0;
    border: solid var(--Border4);
    border-width: 3px 0 0 3px;
}